<!DOCTYPE html>
<html>
    <head>
        <title>banner_customer</title>
        <link rel="stylesheet" href="/banner_detail_admin.css" type="text/css">
        <link rel="stylesheet" href="/mainPage.css">
        <script src="/banner_detail_admin.js"></script>
    </head>
    <body>
        <header id="header">
            <div id="head-wrapper">
                <h1>
                    <a id="logo" href="/admin" title="로고">로고</a>
                </h1>
                <form id="search-form" method="GET">
                    <input id="search" type="search" placeholder="검색">
                    <button id="search-btn" class="search">
                        <a href="#"><img class="search-img" src="https://cdn.icon-icons.com/icons2/2091/PNG/512/search_icon_128536.png" alt="검색"></a>
                    </button>
                </form>
                <div class="wrap-user-util">
                    <div class="wrap-user-util">
                        <% if(is_logined == false){ %>
                            <button id="login">
                            <a href="/login">로그인</a>
                            </button>
                            <button id="signup-btn">
                            <a id="goto-signup" href="/signUp">회원가입</a>
                            </button>
                        <% }else{ %>
                            <a><%= name %> 님 환영합니다!</a>
                            <button id="logout">
                            <a href="/logout">logout</a></button>
                            <button id="bucket">
                            <a id="goto-bucket" href="/basket">장바구니</a>
                            </button>
                            <button id="notice">
                                <a id="goto-notice" href="#">공지사항</a>
                            </button>
                        <% } %>
                    </div>
                    
                </div>
            </div>
        </header>
        <div class="dropmenu">
            <ul>
                    <li><a href="/category/TOP/1">상의</a>
                        <ul>
                            <li><a href="/sub_category/0/1">반팔</a></li>
                            <li><a href="/sub_category/1/1">긴팔</a></li>
                        </ul>
                    </li>
                <li><a href="/category/BOTTOM/1">하의</a>
                        <ul>
                                <li><a href="/sub_category/2/1">반바지</a></li>
                                <li><a href="/sub_category/3/1">긴바지</a></li>
                                    <li><a href="/sub_category/4/1">치마</a></li>
                        </ul>
                </li>
                <li><a href="/category/DRESS/1">원피스</a>
                        <ul>
                                <li><a href="/sub_category/5/1">숏원피스</a></li>
                                <li><a href="/sub_category/6/1">롱원피스</a></li>
                        </ul>   
                </li>
                <li><a href="/category/BAG&SOCKS/1">잡화류</a>
                        <ul>
                                <li><a href="/sub_category/7/1">가방</a></li>
                                <li><a href="/sub_category/8/1">양말</a></li>
                        </ul>
                </li>
                <li><a href="/category/ACC/1">악세사리</a>
                        <ul>
                                <li><a href="/sub_category/9/1">목걸이</a></li>
                                <li><a href="/sub_category/10/1">귀걸이</a></li>
                                <li><a href="/sub_category/11/1">팔찌</a></li>
                        </ul>
                </li>
            </ul>
        </div>
        
        <section>
            <h2>Notice/Event</h2>
            <h3>상세보기</h3>
            <div>
                <table>
                    <thead>
                        <tr>
                            <th>제목</th><td colspan="5" class="title"> <%= notice[0].nTitle %></td>
                        </tr>
                        <tr>
                            <th>등록일</th><td class="date"> <%= notice[0].nDate %></td>
                        </tr>
                        <tr>
                            <th>카테고리</th><td class ="category"> <%= notice[0].nCat %> </td>
                        </tr>
                        <tr>
                            <th>세부정보</th><td class = "detail"> <%= notice[0].nDetail %></td>                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th> 이미지 </th><td class="banner_image" colspan="6"> <%= notice[0].nImg %></td>
                        </tr>
                        <tr>
                            <th> 시작 시간</th> <td class="startdate"> <%= notice[0].nStartDate %></td>
                            <th> 끝나는 시간 </th> <td class="enddate"> <%= notice[0].nEndDate %></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
        <footer id="footer">
            <p>Copyright 2021. 24팀 all rights reserved.</p>
        </footer>
    </body>
</html>