<!DOCTYPE html>
<html>
    <head>
        <title>banner_admin</title>
        <link rel="stylesheet" href="/banner_detail_admin.css" type="text/css">
        <link rel="stylesheet" href="/mainPage.css">
        <script src="/banner_detail_admin.js"></script>
    </head>
    <body>
        <header id="header">
            <div id="head-wrapper">
                <h1>
                    <a id="logo" href="/admin" title="로고">로고</a>
                </h1>
                <form id="search-form" method="GET">
                    <input id="search" type="search" placeholder="검색">
                    <button id="search-btn" class="search">
                        <a href="#"><img class="search-img" src="https://cdn.icon-icons.com/icons2/2091/PNG/512/search_icon_128536.png" alt="검색"></a>
                    </button>
                </form>
                <div class="wrap-user-util">
                    <% if(is_logined == false){ %>
                        <button id="login">
                        <a href="/login">로그인</a>
                        </button>
                        <button id="signup-btn">
                        <a id="goto-signup" href="/signUp">회원가입</a>
                        </button>
                    <% }else{ %>
                        <a><%= name %> 님 환영합니다!</a>
                        <button id="logout">
                        <a href="/logout">logout</a></button>
                        <button id="bucket">
                        <a id="goto-bucket" href="/basket">장바구니</a>
                        </button>
                        <button id="notice">
                            <a id="goto-notice" href="#">공지사항</a>
                        </button>
                    <% } %>
                </div>
               
            </div>
        </header>
        <div class="dropmenu">
            <ul>
                    <li><a href="/category/TOP/1">상의</a>
                        <ul>
                            <li><a href="/sub_category/0/1">반팔</a></li>
                            <li><a href="/sub_category/1/1">긴팔</a></li>
                        </ul>
                    </li>
                <li><a href="/category/BOTTOM/1">하의</a>
                        <ul>
                                <li><a href="/sub_category/2/1">반바지</a></li>
                                <li><a href="/sub_category/3/1">긴바지</a></li>
                                    <li><a href="/sub_category/4/1">치마</a></li>
                        </ul>
                </li>
                <li><a href="/category/DRESS/1">원피스</a>
                        <ul>
                                <li><a href="/sub_category/5/1">숏원피스</a></li>
                                <li><a href="/sub_category/6/1">롱원피스</a></li>
                        </ul>   
                </li>
                <li><a href="/category/BAG&SOCKS/1">잡화류</a>
                        <ul>
                                <li><a href="/sub_category/7/1">가방</a></li>
                                <li><a href="/sub_category/8/1">양말</a></li>
                        </ul>
                </li>
                <li><a href="/category/ACC/1">악세사리</a>
                        <ul>
                                <li><a href="/sub_category/9/1">목걸이</a></li>
                                <li><a href="/sub_category/10/1">귀걸이</a></li>
                                <li><a href="/sub_category/11/1">팔찌</a></li>
                        </ul>
                </li>
            </ul>
        </div>
        
        <section>
            <h2>Notice/Event</h2>
            <h3>상세보기</h3>
            <div>
                <table class="notice_list">
                    <form action="" method="get" class="sort-by">
                        <input type ="text" class = "search-bar" name="query" placeholder="검색어를 입력하세요">
                        <select name = "sortBy">
                            <option value="nTitle-asc"> Title 오름차순</option>
                            <option value="nTitle-desc"> Title 내림차순</option>
                            <option value="nEndDate-asc"> 기한 오름차순</option>
                            <option value="nEndDate-desc"> 기한 내림차순</option>
                        </select>
                        <input type = "submit" value ="확인" class = "sort-button">
                    </form>

                    <colgroup>
                    <col width="15">
                    <col width="80">
                    <col width="15">
                    <col width="20">
                    <col width="15">
                    </colgroup>
                    <thead>
                        <th>번호</th>
                        <th>카테고리</th>
                        <th>제목</th>
                        <th>등록일</th>
                        <th>마감날짜</th>
                    </thead>
                    <tbody>
                        <% notice.forEach(function (value) { %>
                            <tr>
                                <td> <%= value.nIdx %></td>
                                <td> <%= value.nCat %></td>
                                <td> <a href="/banner_detail_customer/<%= value.nIdx %>"> <%= value.nTitle %></a> </td>
                                <td> <%= value.nDate%></td>
                                <td> <%= value.nEndDate %></td>
        
                            </tr>
                            <% }); %>
                    </tbody>
    
                </table>
            </div>
        </section>
        <footer id="footer">
            <p>Copyright 2021. 24팀 all rights reserved.</p>
        </footer>
    </body>
</html>