<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/coupon_select.css">
    <title>쿠폰 적용</title>
    <script type="text/javascript" src="/coupon_select.js"></script>
        <script>
                function direct(frm){
                        frm.action="/payment_direct/<%= post.pIdx0 %>";
                        frm.submit();
                        return true;
                }
        </script>
</head>
<body>
        <form class="" action="/payment_direct/coupon" method="post" onsubmit="return check()">
        <% console.log(post) %>

    <table>
        <% if (!coupon[0]) { }else { %>
        <thead>
            <th>선택</th>
            <th>쿠폰명</th>
            <th>최소주문금액</th>
            <th>할인금액</th>
        </thead>
        <% for (let i=0; i<coupon.length;i++ ) { %>

        <tbody>
            <tr>
                    <td><input type="radio" name="select_coupon" value="<%= coupon[i].cpIdx %>"></td>
                <td><%= coupon[i].cpName %></td>
                <td><%= coupon[i].cpMiniPrice %>원</td>
                <td><%= coupon[i].cpPriceSale %>원</td>
            </tr>
        </tbody>
        <% } %>
        <% } %>
    </table>

    <table>
        <% if (!c_coupon[0]) { } else { %>
        <thead>
            <th>선택</th>
            <th>쿠폰명</th>
            <th>카테고리</th>
            <th>할인한도</th>
            <th>할인율</th>
        </thead>
        <% for (let i=0;i<c_coupon.length;i++) { %>
        <tbody>
            <tr>
                    <td><input type="radio" name="select_coupon" value="<%= c_coupon[i].cpIdx %>"></td>
                <td><%= c_coupon[i].cpName %></td>
                <td><%= c_coupon[i].cpCategory %></td>
                <td><%= c_coupon[i].cpCategoryMax %>원</td>
                <td><%= c_coupon[i].cpCategorySale %>%</td>
            </tr>
        <tbody>
        <% } %>
    <% } %>
    </table>
    <br>
    <input type="hidden" name="pName" value="<%= post.pName %>">
    <input type="hidden" name="basket_length" value="<%= post.basket_length %>">
    <input type="hidden" name="amount" value="<%= post.pQuantity0 %>">
    <input type="hidden" name="pIdx0" value="<%= post.pIdx0 %>">
    <input type="hidden" name="email" value="<%= post.email %>">
    <input type="hidden" name="phonenum" value="<%= post.phonenum %>">
    <input type="hidden" name="postcode" value="<%= post.postcode %>">
    <input type="hidden" name="road" value="<%= post.road %>">
    <input type="hidden" name="jibun" value="<%= post.jibun %>">
    <input type="hidden" name="detail" value="<%= post.detail %>">
    <input type="hidden" name="extra" value="<%= post.extra %>">
    <input type="hidden" name="coupon_sum" value="<%= post.coupon_sum %>">

    <input type="submit" value="확인" class="button">
    <input type="button" value="취소" class="button" onclick="return direct(this.form);">
        </form>



</body>
</html>