<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>상품 상세페이지</title>

  <link rel="stylesheet" href="/detail_page.css"/>
        <script>
                function direct(frm){
                        if(confirm("바로 구매 하시겠습니까?")==true){
                                frm.action = "/payment_direct/<%= product[0].pIdx %>";
                                frm.submit();
                                return true;
                        } else {
                                return false;
                        }
                }
                function login(){
                        alert("로그인이 필요합니다.");
                        window.location.href="/login";
                        return true;
                }
        </script>


</head>

<body onload="init();">

  <header id="header">
    <div id="head-wrapper">
        <h1>
            <a id="logo" href="/" title="로고">로고</a>
        </h1>

        <div id ="search-form">
          <form action="/search" method="get" class="category">
               <select name = "category">
                   <option value="all"> 전체</option>
                   <option value="top"> 상의</option>
                   <option value="bottom"> 하의</option>
                   <option value="dress"> 원피스</option>
                   <option value="goods"> 잡화류</option>
                   <option value="acc"> 악세서리</option>
               </select>
               <input type ="text" class = "search-bar" name="query" placeholder="검색어를 입력하세요"> </br>
               <input type="int" class = "search-bar" name="sprice" placeholder="시작가격"> ~ <input type ="int" class ="search-bar" name="eprice" placeholder="끝가격">
               <input type = "submit" value ="확인" class = "sort-button">
           </form>
       </div>

        <div class="wrap-user-util">
            <% if(is_logined == true){ %>
                <a><%= name %> 님 환영합니다!</a>
                <button id="logout">
                    <a href="/logout">logout</a>
                </button>
                <br>
                <% if (!basket[0]) { %>
                <a>장바구니 수량 : 0 </a>
                <% } else { %>
                <a>장바구니 수량 : <%= basket[0].sum %></a>
                <% } %>
                <button id="bucket">
                    <a id="goto-bucket" href="/basket">장바구니</a>
                </button>
                <button id="notice">
                  <a id="goto-notice" href="/banner_list_customer">공지사항</a>
                </button>
            <% } else { %>
                    <button id="login">
                    <a href="/login">로그인</a>
                    </button>
                    <button id="signup-btn">
                    <a id="goto-signup" href="/signUp">회원가입</a>
                    </button>
                    <% } %>
        </div>

    </div>

</header>
<div class="dropmenu">
  <ul>
          <li><a href="/category/TOP/1">상의</a>
              <ul>
                  <li><a href="/sub_category/0/1">반팔</a></li>
                  <li><a href="/sub_category/1/1">긴팔</a></li>
              </ul>
          </li>
      <li><a href="/category/BOTTOM/1">하의</a>
              <ul>
                      <li><a href="/sub_category/2/1">반바지</a></li>
                      <li><a href="/sub_category/3/1">긴바지</a></li>
                          <li><a href="/sub_category/4/1">치마</a></li>
              </ul>
      </li>
      <li><a href="/category/DRESS/1">원피스</a>
              <ul>
                      <li><a href="/sub_category/5/1">숏원피스</a></li>
                      <li><a href="/sub_category/6/1">롱원피스</a></li>
              </ul>
      </li>
      <li><a href="/category/BAG&SOCKS/1">잡화류</a>
              <ul>
                      <li><a href="/sub_category/7/1">가방</a></li>
                      <li><a href="/sub_category/8/1">양말</a></li>
              </ul>
      </li>
      <li><a href="/category/ACC/1">악세사리</a>
              <ul>
                      <li><a href="/sub_category/9/1">목걸이</a></li>
                      <li><a href="/sub_category/10/1">귀걸이</a></li>
                      <li><a href="/sub_category/11/1">팔찌</a></li>
              </ul>
      </li>
  </ul>
</div>


<section>
  <% if(product[0].category_id == 0 ) {
    var main_name="#TOP";
    var sub_name="#short";
} else if (product[0].category_id == 1) {
    var main_name="#TOP";
    var sub_name="#long";
} else if (product[0].category_id == 2) {
    var main_name="#BOTTOM";
    var sub_name="#short";
} else if (product[0].category_id == 3) {
    var main_name="#BOTTOM";
    var sub_name="#long";
} else if (product[0].category_id == 4) {
    var main_name="#BOTTOM";
    var sub_name="#skirt";
} else if (product[0].category_id == 5) {
    var main_name="#DRESS";
    var sub_name="#short";
} else if (product[0].category_id == 6) {
    var main_name="#DRESS";
    var sub_name="#long";
} else if (product[0].category_id == 7) {
    var main_name="#BAG&SOCKS";
    var sub_name="#bag";
} else if (product[0].category_id == 8) {
    var main_name="#BAG&SOCKS";
    var sub_name="#socks";
} else if (product[0].category_id == 9) {
    var main_name="#ACC";
    var sub_name="#necklace";
} else if (product[0].category_id == 10) {
    var main_name="#ACC";
    var sub_name="#earring";
} else {
    var main_name="#ACC";
    var sub_name="#bracelet";
} %>

<h3><a><%= main_name %> <%= sub_name %></a></h3>

  <nav id="box">
    <div id="wrap_product_img">
    <img id="left_bt" src="https://image.flaticon.com/icons/png/512/130/130901.png"
    alt="" style="display:none">
    <article id="slide">
      <ul id="slide_box">
        <% if (!product[0].pImg5 && !product[0].pImg4 && !product[0].pImg3 && !product[0].pImg2) { %>
        <li><img src="<%= product[0].pImg %>" alt="img1"></li>
        <% var count = 1; console.log(count); %>
        <% } else if (!product[0].pImg5 && !product[0].pImg4 && !product[0].pImg3 && product[0].pImg2 != null ) { %>
        <li><img src="<%= product[0].pImg %>" alt="img1"></li>
        <li><img src="<%= product[0].pImg2 %>" alt="img2"></li>
        <% var count = 2;  console.log(count);%>
        <% } else if (!product[0].pImg5 && !product[0].pImg4 && product[0].pImg3 != null && product[0].pImg2 != null ) { %>
        <li><img src="<%= product[0].pImg %>" alt="img1"></li>
        <li><img src="<%= product[0].pImg2 %>" alt="img2"></li>
        <li><img src="<%= product[0].pImg3 %>" alt="img3"></li>
        <% var count = 3; console.log(count);%>
        <% } else if (!product[0].pImg5 && product[0].pImg4 != null && product[0].pImg3 != null && product[0].pImg2 != null ) { %>
        <li><img src="<%= product[0].pImg %>" alt="img1"></li>
        <li><img src="<%= product[0].pImg2 %>" alt="img2"></li>
        <li><img src="<%= product[0].pImg3 %>" alt="img3"></li>
        <li><img src="<%= product[0].pImg4 %>" alt="img4"></li>
        <% var count = 4; console.log(count);%>
        <% } else { %>
        <li><img src="<%= product[0].pImg %>" alt="img1"></li>
        <li><img src="<%= product[0].pImg2 %>" alt="img2"></li>
        <li><img src="<%= product[0].pImg3 %>" alt="img3"></li>
        <li><img src="<%= product[0].pImg4 %>" alt="img4"></li>
        <li><img src="<%= product[0].pImg5 %>" alt="img5"></li>
        <% var count = 5; console.log(count);%>
        <% } %>
      </ul>
    </article>
    <% if (count == 1) { %>
    <% } else { %>
    <img id="right_bt" src="https://image.flaticon.com/icons/png/512/130/130903.png"
    alt="">
    <% } %>
    </div>
 </nav>

  <div id="product_name">
    <h3><%= product[0].pName %></h3><br>
    <h3>
      <span class="product_score"><%= avg[0].average %></span>
      <%= product[0].pPrice %>
    </h3><br>
    <form name="form" action="/basket_in" method="post" onsubmit="return func_confirm()" >
      수량 선택 : <input type=hidden name="sell_price" value="<%= product[0].pPrice %>">
      <input type="text" name="amount" value="1" size="3" onchange="change();">
      <input type="button" value=" - " onclick="del();"><input type="button" value=" + " onclick="add();"><br>

      금액 : <input type="text" name="sum" size="11" readonly>원

    <br>

    <a href = "/delivery_address"><input type="text" value="배송지선택" style="width: 200px; height: 150px; font-size:2em;"/></a><br>
            <table id="address_table">
                    <tbody>

                    <% address.forEach(function (value) { %>
             <tr>
                     <td> <%= value.mPost_Code %></td>
                     <td> <%= value.mRoad_address %></td>
                     <td> <%= value.mJibun_address %></td>
                     <td> <%= value.mDetail_address %></td>
             </tr>
             <% }); %>

                </tbody>
            </table>


    <input type = "hidden" name="userid" value="<%= ID %>" />
    <input type = "hidden" name="productid" value="<%= product[0].pIdx %>" />
    <input type="submit" value="장바구니추가" style="width: 200px; height: 150px; font-size:2em;" />

    <br>
    <% console.log(is_logined); %>

    <% if (is_logined == undefined) { %>
    <% console.log(is_logined); %>
    <input type="button" value="구매하기" style="width: 200px; height: 150px; font-size:2em;" onclick="return login()"/>
    <% } else  { %>

    <input type="button" value="구매하기" style="width: 200px; height: 150px; font-size:2em;"onclick="return direct(this.form);" />
    <% } %>
  </form>

    <br><br>
  </div>
    <h4><img src="<%= product[0].pDetail %>"></h4>
        <table id="review_table">
      <colgroup>
        <col width="10">
        <col width="15">
        <col width="10">
        <col width="100">
        <col width="20">
        <col width="30">
      </colgroup>
      <thead>
        <th> 추천 </th>
        <th> 배송평가</th>
        <th> 점수 </th>
        <th> 후기 </th>
        <th> 이름</th>
        <th> 등록일자 </th>
     </thead>
     <tbody>
             <% for (let i=( page * page_num) -page_num; i<(page * page_num); i++){
             if(length < i) {i++;} else { var data = review[i]; %>
             <tr>
                     <td> <%= data.rRecommand %></td>
                     <td> <%= data.rDelivery %></td>
                     <td> <%= data.rPoint %></td>
                     <td> <%= data.rReview %></td>
                     <td> <%= data.rName %></td>
                     <td> <%= data.rDate %></td>
             </tr>
             <% } %>
             <% } %>
     </tbody>





    </table>

    <div class="outer">
      <div class="pagination">
        <a href="#">&laquo;</a>
        <% for(var j=0; j<review.length/page_num; j++){ %>
        <a href="/product/<%= product[0].pIdx %>/<%= j+1 %>"><%= j+1 %></a>
        <% } %>
        <a href="#">&raquo;</a>
      </div>
    </div>
</section>

<footer id="footer">
  <p>
      <a href="/use">[이용약관]</a>
      <a href="/privacy">[개인정보처리방침]</a>
      <br>

      [01811] 서울 노원구 공릉로 232 서울과학기술대학교 컴퓨터공학과 미래관 315호 TEL : 02-970-6707 <br>
      Copyright 2021. 24팀 all rights reserved.<br>
  </p>
</footer>

  <script type="text/javascript" src="/detail_page.js"></script>
  <script>var count = <%= count %>;</script>

</body>

</html>