<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>상품 상세페이지</title>

  <link rel="stylesheet" href="/detail_page.css"/>
        <script>
                function direct(frm){
                        if(confirm("바로 구매 하시겠습니까?")==true){
                                frm.action = "/payment_direct/<%= product[0].pIdx %>";
                                frm.submit();
                                return true;
                        } else {
                                return false;
                        }
                }
                function login(){
                        alert("로그인이 필요합니다.");
                        window.location.href="/login";
                        return true;
                }
        </script>


</head>

<body onload="init();">

  <header id="header">
    <div id="head-wrapper">
        <h1>
            <a id="logo" href="/" title="로고">로고</a>
        </h1>

        <div id ="search-form">
          <form action="/search" method="get" class="category">
               <select name = "category">
                   <option value="all"> 전체</option>
                   <option value="top"> 상의</option>
                   <option value="bottom"> 하의</option>
                   <option value="dress"> 원피스</option>
                   <option value="goods"> 잡화류</option>
                   <option value="acc"> 악세서리</option>
               </select>
               <input type ="text" class = "search-bar" name="query" placeholder="검색어를 입력하세요"> </br>
               <input type="int" class = "search-bar" name="sprice" placeholder="시작가격"> ~ <input type ="int" class ="search-bar" name="eprice" placeholder="끝가격">
               <input type = "submit" value ="확인" class = "sort-button">
           </form>
       </div>

        <div class="wrap-user-util">
            <% if(is_logined == true){ %>
                <a><%= name %> 님 환영합니다!</a>
                <button id="logout">
                    <a href="/logout">logout</a>
                </button>
                <br>
                <% if (!basket[0]) { %>
                <a>장바구니 수량 : 0 </a>
                <% } else { %>
                <a>장바구니 수량 : <%= basket[0].sum %></a>
                <% } %>
                <button id="bucket">
                    <a id="goto-bucket" href="/basket">장바구니</a>
                </button>
                <button id="notice">
                  <a id="goto-notice" href="/banner_list_customer">공지사항</a>
                </button>
            <% } else { %>
                    <button id="login">
                    <a href="/login">로그인</a>
                    </button>
                    <button id="signup-btn">
                    <a id="goto-signup" href="/signUp">회원가입</a>
                    </button>
                    <% } %>
        </div>

    </div>

</header>
<div class="dropmenu">
  <ul>
          <li><a href="/category/TOP/1">상의</a>
              <ul>
                  <li><a href="/sub_category/0/1">반팔</a></li>
                  <li><a href="/sub_category/1/1">긴팔</a></li>
              </ul>
          </li>
      <li><a href="/category/BOTTOM/1">하의</a>
              <ul>
                      <li><a href="/sub_category/2/1">반바지</a></li>
                      <li><a href="/sub_category/3/1">긴바지</a></li>
                          <li><a href="/sub_category/4/1">치마</a></li>
              </ul>
      </li>
      <li><a href="/category/DRESS/1">원피스</a>
              <ul>
                      <li><a href="/sub_category/5/1">숏원피스</a></li>
                      <li><a href="/sub_category/6/1">롱원피스</a></li>
              </ul>
      </li>
      <li><a href="/category/BAG&SOCKS/1">잡화류</a>
              <ul>
                      <li><a href="/sub_category/7/1">가방</a></li>
                      <li><a href="/sub_category/8/1">양말</a></li>
              </ul>
      </li>
      <li><a href="/category/ACC/1">악세사리</a>
              <ul>
                      <li><a href="/sub_category/9/1">목걸이</a></li>
                      <li><a href="/sub_category/10/1">귀걸이</a></li>
                      <li><a href="/sub_category/11/1">팔찌</a></li>
              </ul>
      </li>
  </ul>
</div>


<section>
  <nav id="box">
    <div id="wrap_product_img">
    <img id="left_bt" src="/Users/johwajin/Documents/SW_24/SW_Online_Shoppingmall/detail_product_page/image/next2.png"
    alt="" style="display:none">
    <article id="slide">
      <ul id="slide_box">
        <% if (!product[0].pImg5 && !product[0].pImg4 && !product[0].pImg3 && !product[0].pImg2) { %>
        <li><img src="<%= product[0].pImg %>" alt="img1"></li>
        <% var count = 1; console.log(count); %>
        <% } else if (!product[0].pImg5 && !product[0].pImg4 && !product[0].pImg3 && product[0].pImg2 != null ) { %>
        <li><img src="<%= product[0].pImg %>" alt="img1"></li>
        <li><img src="<%= product[0].pImg2 %>" alt="img2"></li>
        <% var count = 2;  console.log(count);%>
        <% } else if (!product[0].pImg5 && !product[0].pImg4 && product[0].pImg3 != null && product[0].pImg2 != null ) { %>
        <li><img src="<%= product[0].pImg %>" alt="img1"></li>
        <li><img src="<%= product[0].pImg2 %>" alt="img2"></li>
        <li><img src="<%= product[0].pImg3 %>" alt="img3"></li>
        <% var count = 3; console.log(count);%>
        <% } else if (!product[0].pImg5 && product[0].pImg4 != null && product[0].pImg3 != null && product[0].pImg2 != null ) { %>
        <li><img src="<%= product[0].pImg %>" alt="img1"></li>
        <li><img src="<%= product[0].pImg2 %>" alt="img2"></li>
        <li><img src="<%= product[0].pImg3 %>" alt="img3"></li>
        <li><img src="<%= product[0].pImg4 %>" alt="img4"></li>
        <% var count = 4; console.log(count);%>
        <% } else { %>
        <li><img src="<%= product[0].pImg %>" alt="img1"></li>
        <li><img src="<%= product[0].pImg2 %>" alt="img2"></li>
        <li><img src="<%= product[0].pImg3 %>" alt="img3"></li>
        <li><img src="<%= product[0].pImg4 %>" alt="img4"></li>
        <li><img src="<%= product[0].pImg5 %>" alt="img5"></li>
        <% var count = 5; console.log(count);%>
        <% } %>
      </ul>
    </article>
    <% if (count == 1) { %>
    <% } else { %>
    <img id="right_bt" src="/Users/johwajin/Documents/SW_24/SW_Online_Shoppingmall/detail_product_page/image/next2.png"
    alt="">
    <% } %>
    </div>
 </nav>

  <div id="product_name">
    <h3><%= product[0].pName %></h3><br>
    <h3>
      <span class="product_score">4.3</span>
      <%= product[0].pPrice %>
    </h3><br>
    <form name="form" action="/basket_in" method="post" onsubmit="return func_confirm()" >
      수량 선택 : <input type=hidden name="sell_price" value="<%= product[0].pPrice %>">
      <input type="text" name="amount" value="1" size="3" onchange="change();">
      <input type="button" value=" - " onclick="del();"><input type="button" value=" + " onclick="add();"><br>

      금액 : <input type="text" name="sum" size="11" readonly>원

    <br>

    <input type="button" value="배송지선택" style="width: 200px; height: 150px; font-size:2em;"/>
    <input type="text" id="sample4_postcode" placeholder="우편번호">
    <!-- <input type="button" onclick="sample4_execDaumPostcode()" value="우편번호 찾기"><br> -->
    <input type="text" id="sample4_roadAddress" placeholder="도로명주소"><br>
    <input type="text" id="sample4_jibunAddress" placeholder="지번주소">
    <span id="guide" style="color:#999;display:none"></span>
    <input type="text" id="sample4_detailAddress" placeholder="상세주소">
    <input type="text" id="sample4_extraAddress" placeholder="참고항목">
    <br>
    <input type = "hidden" name="userid" value="<%= ID %>" />
    <input type = "hidden" name="productid" value="<%= product[0].pIdx %>" />
    <input type="submit" value="장바구니추가" style="width: 200px; height: 150px; font-size:2em;" />

    <br>
    <% console.log(is_logined); %>

    <% if (is_logined == undefined) { %>
    <% console.log(is_logined); %>
    <input type="button" value="구매하기" style="width: 200px; height: 150px; font-size:2em;" onclick="return login()"/>
    <% } else  { %>

    <input type="button" value="구매하기" style="width: 200px; height: 150px; font-size:2em;"onclick="return direct(this.form);" />
    <% } %>
  </form>

    <br><br>
  </div>
    <h4><img src="<%= product[0].pDetail %>"></h4>

    <table id="review_table">
      <colgroup>
        <col width="10">
        <col width="15">
        <col width="10">
        <col width="100">
        <col width="30">

      </colgroup>
      <tr>
        <td><span class="strong_recommand">강추</span></td>
        <td><span class="fast_delivery">빠름</span></td>
        <td class="starrate">5점</td>
        <td class="review">배송이 아주 빠르네요~</td>
        <td>로고<br>21.05.22</td>
      </tr>
      <tr>
        <td><span class="not_recommand">비추</span></td>
        <td><span class="late_delivery">느림</span></td>
        <td class="starrate">3점</td>
        <td class="review">배송이 너무 느려요~</td>
        <td>김진대<br>21.05.20</td>
      </tr>
      <tr>
        <td><span class="recommand">추천</span></td>
        <td><span class="normal_delivery">보통</span></td>
        <td class="starrate">4점</td>
        <td class="review">물건이 아주 좋아요~</td>
        <td>김과기대<br>21.05.10</td>
      </tr>
      <tr>
        <td><span class="normal_recommand">보통</span></td>
        <td><span class="very_fast_delivery">매우빠름</span></td>
        <td class="starrate">4점</td>
        <td class="review">물건이 아주 좋아요~</td>
        <td>서울과기대<br>21.05.10</td>
      </tr>
      <tr>
        <td><span class="normal_recommand">보통</span></td>
        <td><span class="very_late_delivery">매우느림</span></td>
        <td class="starrate">2점</td>
        <td class="review">물건이 아주 좋아요~</td>
        <td>서울과학기술대학교<br>21.05.10</td>
      </tr>
    </table>

    <div class="outer">
      <div class="pagination">
        <a href="#">&laquo;</a>
        <a href="#" class="active">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <a href="#">5</a>
        <a href="#">&raquo;</a>
      </div>
    </div>
</section>

<footer id="footer">
  <p>
      <a href="/use">[이용약관]</a>
      <a href="/privacy">[개인정보처리방침]</a>
      <br>

      [01811] 서울 노원구 공릉로 232 서울과학기술대학교 컴퓨터공학과 미래관 315호 TEL : 02-970-6707 <br>
      Copyright 2021. 24팀 all rights reserved.<br>
  </p>
</footer>

  <script type="text/javascript" src="/detail_page.js"></script>
  <script>var count = <%= count %>;</script>

</body>

</html>