<!DOCTYPE html>
<html>
    <head>
        <title>banner_admin</title>
        <link rel="stylesheet" href="/banner_list_admin.css" type="text/css">
    </head>
    <body>
        <header id="header">
            <div id="head-wrapper">
                <h1>
                    <a id="logo" href="/admin" title="로고">로고</a>
                </h1>
                <form id="search-form" method="GET">
                    <input id="search" type="search" placeholder="검색">
                    <button id="search-btn" class="search">
                        <a href="#"><img class="search-img" src="https://cdn.icon-icons.com/icons2/2091/PNG/512/search_icon_128536.png" alt="검색"></a>
                    </button>
                </form>
            </div>
        </header>
        



        <nav class="nav">
            <ul>
                <li><a href="/admin" class="active">Home</a></li>
                <li><a href="/banner_list_admin" class="current">Notice/Event 관리</a></li>
                <li><a href="/product_list_admin">Product 관리</a></li>
                <li><a href="/product_information_admin">Sales Information</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </nav>
        <section>
            <h2> 공지 수정 </h2>
            <form action = "/banner_update/<%=notice[0].nIdx %>" method="POST">
                <div>
                    <table>
                        <tr><td>제목</td><td><input type = "text" name= "nTitle" value="<%= notice[0].nTitle %>"></td></tr>
                        <tr><td>이미지</td><td><input type = "file" name = "nImg" value="<% notice[0].nImg %>"> </td></tr>
                        <tr><td>내용</td><td><input type ="text" name= "nDetail" value="<%= notice[0].nDetail %>"></td></tr>
                        <tr><td>기간</td><td><input type="date" name="nStartDate"  value="<%= notice[0].nStartDate %>">
                                             <input type="date" name="nEndDate" value="<%= notice[0].nEndDate %>" ></td></tr>
                    </table>
                </div>
                <button type="submit"> 수정 </button>
            </form>
        </section>
    
        <footer id="footer">
            <p>
                <a href="/use">[이용약관]</a>
                <a href="/privacy">[개인정보처리방침]</a>
                <br>
    
                [01811] 서울 노원구 공릉로 232 서울과학기술대학교 컴퓨터공학과 미래관 315호 TEL : 02-970-6707 <br>
                Copyright 2021. 24팀 all rights reserved.<br>
            </p>
        </footer>
    </body>
</html>