<!DOCTYPE html>
<html>
    <head>
        <title>banner_admin</title>
        <link rel="stylesheet" href="/banner_list_admin.css" type="text/css">
    </head>
    <body>
        <header id="header">
            <div id="head-wrapper">
                <h1>
                    <a id="logo" href="/admin" title="로고">로고</a>
                </h1>
                <div id ="search-form">
                    <form action="/search" method="get" class="category">
                         <select name = "category">
                             <option value="all"> 전체</option>
                             <option value="top"> 상의</option>
                             <option value="bottom"> 하의</option>
                             <option value="dress"> 원피스</option>
                             <option value="goods"> 잡화류</option>
                             <option value="acc"> 악세서리</option>
                         </select>
                         <input type ="text" class = "search-bar" name="query" placeholder="검색어를 입력하세요"> </br>
                         <input type="int" class = "search-bar" name="sprice" placeholder="시작가격"> ~ <input type ="int" class ="search-bar" name="eprice" placeholder="끝가격">
                         <input type = "submit" value ="확인" class = "sort-button">
                     </form>
                 </div>
            </div>
            <div class="wrap-user-util">
                <% if(is_logined == true){ %>
                    <a><%= name %> 관리자</a>
                    <button id="logout">
                        <a href="/logout">logout</a>
                    </button>
                    <button id="bucket">
                        <a id="goto-bucket" href="/basket">장바구니</a>
                    </button>
                <% } %>
            </div>
        </header>
        



        <nav class="nav">
            <ul class="menu">
                <li><a href="/admin" class="active">Home</a></li>
                <li><a href="/banner_list_admin" class="current">Notice/Event 관리</a></li>
                <li><a href="/product_list_admin">Product 관리</a></li>
                <li><a href="/product_information_admin">Sales Information</a></li>
                <li><a href="/inquiry_admin">고객 문의 관리</a></li>
                <li><a href="/coupon_list_admin">Coupon 등록/관리</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </nav>
        <section>
            <h2> 공지 수정 </h2>
            <form action = "/banner_update/<%=notice[0].nIdx %>" method="POST" enctype="multipart/form-data">
                <div>
                    <table>
                        <tr><td>제목</td><td><input type = "text" name= "nTitle" value="<%= notice[0].nTitle %>"></td></tr>
                        <tr><td>이미지</td><td><input type = "file" name = "nImg" value="<% notice[0].nImg %>"> </td></tr>
                        <tr><td>내용</td><td><input type ="text" name= "nDetail" value="<%= notice[0].nDetail %>"></td></tr>
                        <tr><td>기간</td><td><input type="date" name="nStartDate"  value="<%= notice[0].nStartDate %>">
                                             <input type="date" name="nEndDate" value="<%= notice[0].nEndDate %>" ></td></tr>
                    </table>
                </div>
                <button type="submit"> 수정 </button>
            </form>
        </section>
    
        <footer id="footer">
            <p>
                <a href="/use">[이용약관]</a>
                <a href="/privacy">[개인정보처리방침]</a>
                <br>
    
                [01811] 서울 노원구 공릉로 232 서울과학기술대학교 컴퓨터공학과 미래관 315호 TEL : 02-970-6707 <br>
                Copyright 2021. 24팀 all rights reserved.<br>
            </p>
        </footer>
    </body>
</html>
