<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main</title>
    <link rel="stylesheet" href="/mainPage_admin.css">
</head>
<body>
    <header id="header">
        <div id="head-wrapper">
            <h1>
                <a id="logo" href="/admin" title="로고">로고</a>
            </h1>
            <div id ="search-form">
                <form action="/search" method="get" class="category">
                     <select name = "category">
                         <option value="all"> 전체</option>
                         <option value="top"> 상의</option>
                         <option value="bottom"> 하의</option>
                         <option value="dress"> 원피스</option>
                         <option value="goods"> 잡화류</option>
                         <option value="acc"> 악세서리</option>
                     </select>
                     <input type ="text" class = "search-bar" name="query" placeholder="검색 어를 입력하세요"> </br>
                     <input type="int" class = "search-bar" name="sprice" placeholder="시작가격"> ~ <input type ="int" class ="search-bar" name="eprice" placeholder="끝가격">
                     <input type = "submit" value ="확인" class = "sort-button">
                 </form>
             </div>
            <div class="wrap-user-util">
                <% if(is_logined == true){ %>
                <a><%= name %> 관리자</a>
                <button id="logout">
                    <a href="/logout">logout</a>
                </button>
                <button id="bucket">
                    <a id="goto-bucket" href="/basket">장바구니</a>
                </button>
                <% } %>
            </div>
        </div>
    </header>

    <nav class="nav">
        <ul class="menu">
            <li><a href="/admin" class="active" class="current">Home</a></li>
                <li><a href="/banner_list_admin">Notice/Event 관리</a></li>
                <li><a href="/product_list_admin">Product 관리</a></li>
                <li><a href="/product_information_admin">Sales Information</a></li>
                <li><a href="/inquiry_admin/1">고객 문의 관리</a></li>
                <li><a href="/coupon_list_admin">Coupon 등록/관리</a></li>
                <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>
    <section id="main-container">
        <div class="main-banner">
            <% for(let i=0; i<banner_imgs.length; i++){ %>
            <div class="mySlides fade">
                <img class="banner-img" src="<%= banner_imgs[i].nImg %>">
                <p><%= banner_imgs[i].nEndDate %></p>
            </div>
            <%} %>
        </div>

    </section>
    <section id="latest-items">
        <h2>최신상품</h2>
        <ul class="row">
            <% for(let i=0; i<new_products.length; i++){ %>
                <li class="cell">
                        <div class="img_box" onclick="location.href='/product_admin/<%= new_products[i].pIdx %>/1'"><img src="<%= new_products[i].pImg %>" alt=""><!--상품사진--></div>
                        <div class="product_name" onclick="location.href='/product_admin/<%= new_products[i].pIdx %>/1'"><%= new_products[i].pName %></div>
                        <div class="product_price"><%= new_products[i].pPrice %></div>
                </li>
            <%} %>
        </section>

        <footer id="footer">
            <p>
                <a href="/use">[이용약관]</a>
                <a href="/privacy">[개인정보처리방침]</a>
                <br>

                [01811] 서울 노원구 공릉로 232 서울과학기술대학교 컴퓨터공학과 미래관 315호 TEL : 02-970-6707 <br>
                Copyright 2021. 24팀 all rights reserved.<br>
            </p>
        </footer>
        <script type="text/javascript" src="/main_banner.js"></script>
</body>

</html>