<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main</title>
    <link rel="stylesheet" href="/mainPage_admin.css">
    <script type="text/javascript" src="/mainPage.js"></script>
    <script type="text/javascript" src="/banner_main.js"></script>
</head>
<body>
    <header id="header">
        <div id="head-wrapper">
            <h1>
                <a id="logo" href="/admin" title="로고">로고</a>
            </h1>
            <form id="search-form" method="GET">
                <input id="search" type="search" placeholder="검색">
                <button id="search-btn" class="search">
                    <a href="#"><img class="search-img" src="https://cdn.icon-icons.com/icons2/2091/PNG/512/search_icon_128536.png" alt="검색"></a>
                </button>
            </form>
            <div class="wrap-user-util">
                <% if(is_logined == true){ %>
                <a><%= name %> 관리자</a>
                <button id="logout">
                    <a href="/logout">logout</a>
                </button>
                <button id="bucket">
                    <a id="goto-bucket" href="/basket">장바구니</a>
                </button>
                <% } %>
            </div>
        </div>
    </header>
    <nav id="category">
        <a class="category-menu" href="/category/TOP">상의</a>
        <a class="category-menu" href="/category/BOTTOM">하의</a>
        <a class="category-menu" href="/category/DRESS">원피스</a>
        <a class="category-menu" href="/category/BAG&SOCKS">잡화류</a>
        <a class="category-menu" href="/category/ACC">악세서리</a>
    </nav>

    <nav class="nav">
        <ul class="menu">
            <li><a href="/admin" class="active" class="current">Home</a></li>
                <li><a href="/banner_list_admin">Notice/Event 관리</a></li>
                <li><a href="/product_list_admin">Product 관리</a></li>
                <li><a href="/product_information_admin">Sales Information</a></li>
                <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>
    <section>
        <div id="main-banner">
            <div id="banner-img-wrapper">
                <ul class="rollimgs">
                    <li><img class="roll-img" src="https://www.seoultech.ac.kr/storage/banner/rolling/SNUST1615422266317.png" alt="1st"></li>
                    <li><img class="roll-img" src="https://www.seoultech.ac.kr/storage/banner/rolling/SNUST1619655416062.png" alt="2st"></li>
                    <li><img class="roll-img" src="http://bnx.oa.gg/img/bnx_16fw_visual_03_list.jpg" alt="3st"></li>
                </ul>
            </div>
        </div>
    </section>
    <section id="latest-items">
        <div>
            <h2>최신상품</h2>
            <ul class="row">
                <% for(let i=0; i<new_products.length; i++){ %>
                    <li class="cell">
                            <div class="img_box"><img src="<%= new_products[i].pImg %>" alt=""><!--상품사진--></div>
                            <div class="product_name"><a href="/product_admin/<%= new_products[i].pIdx %>"><%= new_products[i].pName %></div>
                            <div class="product_price"><%= new_products[i].pPrice %></div>
                    </li>
                <%} %>
        </div>
    </section>

    <footer id="footer">
        <p>Copyright 2021. 24팀 all rights reserved.</p>
    </footer>
</body>

</html>