<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/payment.css">
    <script defer type="text/javascript" src="/payment.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
    <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js"></script>
    <script defer src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>     <!--우편번호 찾기 api-->
    <title>Document</title>
</head>
<body>
    <header id="header">
        <div id="head-wrapper">
            <h1>
                <a id="logo" href="/" title="로고">로고</a>
            </h1>
        </div>
    </header>
    <div class="container">
        <h1>주문하기</h1>
        <div class="order-product-container">
            <h2>주문 상품</h2>
            <ul id="order-ul">
                <li class="product-info-to-order-wrapper">
                    <img id="orderProductImg" class="order-product-item-info" src="http://bnx.oa.gg/img/bnx_16fw_visual_01_list.jpg"/>
                    <div id="orderSubject" class="order-product-item-info">단가라원피스</div>
                    <div id="orderQuantity" class="order-product-item-info">1개</div>
                    <div id="orderPrice" class="order-product-item-info">14000원</div>
                </li>
            </ul>
            <h3 id="sum">
            </h3>
        </div>

        <div class="address-info">
            <h2>배송 정보</h2>
            <div class="orderer-info">
                <h3>주문자 정보</h3>
                <dl>
                    <dt>주문자</dt>
                    <dd><%= mName %></dd>
                    <dt>이메일</dt>
                    <dd><%= email %></dd>
                    <dt>연락처</dt>
                    <dd><input type="tel" placeholder="000-0000-0000" id="get-phone-num"/></dd>
                </dl>
            </div>
            <div class="address-select-wrap">
                <h3>배송지</h3>
                <div class="confirm-address">
                    <div>이름 : <input type="text" value="<%= email %>" id="get-mName"></div>
                    <p>주소</p>
                    <input type="text" id="sample4_postcode" name='postcode' placeholder="우편번호" value="<%= mPost_code %>">
                    <input type="button" onclick="sample4_execDaumPostcode()" value="우편번호 찾기"><br>
                    <input type="text" id="sample4_roadAddress" name='road' placeholder="도로명주소" value="<%= mRoad_address %>">
                    <input type="text" id="sample4_jibunAddress" name='jibun' placeholder="지번주소" value="<%= mJibun_address %>">
                    <span id="guide" style="color:#999;display:none"></span><br>
                    <input type="text" id="sample4_detailAddress" name='detail' placeholder="상세주소" value="<%= mDetail_address %>">
                    <input type="text" id="sample4_extraAddress" name='extra' placeholder="참고항목" value="<%= mExtra_address %>">
                </div>
            </div>
        </div>
        <div class="pay">
            <h2>결제하기</h2>
            <button id="pay-with-card" class="pay-btn" onclick="requestPaywithCard()">
                <a href="">결제하기</a>
            </button>
        </div>
    </div>
    <footer class="footer">
        <p>Copyright 2021. 24팀 all rights reserved.</p>
    </footer>
</body>
</html>