<!DOCTYPE html>
<html>
    <head>
        <title>product_list_admin</title>
        <link rel="stylesheet" href="/product_list_admin.css" type="text/css">
    </head>
    <body>
        <header id="header">
            <div id="head-wrapper">
                <h1>
                    <a id="logo" href="/admin" title="로고">로고</a>
                </h1>
                <form id="search-form" method="GET">
                    <input id="search" type="search" placeholder="검색">
                    <button id="search-btn" class="search">
                        <a href="#"><img class="search-img" src="https://cdn.icon-icons.com/icons2/2091/PNG/512/search_icon_128536.png" alt="검색"></a>
                    </button>
                </form>
                <div class="wrap-user-util">
                    <% if(is_logined == true){ %>
                        <a><%= name %> 관리자</a>
                        <button id="logout">
                            <a href="/logout">logout</a>
                        </button>
                        <button id="bucket">
                            <a id="goto-bucket" href="/basket">장바구니</a>
                        </button>
                    <% } %>
                </div>
            </div>
        </header>



        <nav class="nav">
            <ul class="menu">
                <li><a href="/admin" class="active">Home</a></li>
                <li><a href="/banner_list_admin">Notice/Event 관리</a></li>
                <li><a href="/product_list_admin/1" class="current">Product 관리</a></li>
                <li><a href="/product_information_admin">Sales Information(구현중)</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </nav>
        <div class="btn">
            <a href="/add_product_admin">상품 등록</a>
        </div>
        <section>
            <h2>Product list</h2>

            <form action="" method="get" class="sort-by">
                <input type="text" class ="search-bar" name = query placeholder="검색어를 입력하세요"> </br>
                <select name ="sortBy">
                    <option value="asc"> 가격 오름차순 </option>
                <option value="desc"> 가격 내림차순 </option>
                </select></br>
                <input type="int" class = "search-bar" name="sprice" placeholer="시작가격"> ~ <input type ="int" class ="search-bar" name="eprice" placeholder="끝가격"><br>
                <input type="submit" value="확인" class ="sort-button">
            </form>
            
            <div class="list">
                <ul class="row">
                    <% for ( var i = ( page * page_num) -  page_num; i< (page * page_num); i++) {
                        if (length < i) { i++; } else { var data = products[i]; %>
    
                            <li class="cell">
                                    <div class="img_box"><img src="<%= data.pImg %>" alt=""><!-- 상품사진--></div>
                                    <div class="product_name"><a href="/product_admin/<%= data.pIdx %>"><%= data.pName %></div>
                                    <div class="product_price"><%= data.pPrice %></div>
                            </li>
                    <%}  }%>
                    <!--상품 수만큼 li 반복-->
                </ul>
            </div>
            <div class="outer">
                <div class="pagination">
                    <% for (var j=0; j<products.length / page_num; j++){ %>
                        <a href="/product_list_admin/<%= j+1 %>"><%= j+1 %></a>
                    <% } %>
                </div>
            </div>
            
        </section>
        
        <footer id="footer">
            <p>
                <a href="/use">[이용약관]</a>
                <a href="/privacy">[개인정보처리방침]</a>
                <br>
    
                [01811] 서울 노원구 공릉로 232 서울과학기술대학교 컴퓨터공학과 미래관 315호 TEL : 02-970-6707 <br>
                Copyright 2021. 24팀 all rights reserved.<br>
            </p>
        </footer>
    </body>
</html>