<!DOCTYPE html>
<html lang="kr">

<head>
    <meta charset="UTF-8">
    <title>product_information_admin</title>
    <link rel="stylesheet" href="/product_information_admin.css" type="text/css">
    <script type="text/javascript" src="/product_information_admin.js"></script>
</head>

<body>
    <header id="header">
        <div id="head-wrapper">
            <h1>
                <a id="logo" href="/admin" title="로고">로고</a>
            </h1>
            <div id="search-form">
                <form action="/search" method="get" class="category">
                    <select name="category">
                        <option value="all"> 전체</option>
                        <option value="top"> 상의</option>
                        <option value="bottom"> 하의</option>
                        <option value="dress"> 원피스</option>
                        <option value="goods"> 잡화류</option>
                        <option value="acc"> 악세서리</option>
                    </select>
                    <input type="text" class="search-bar" name="query" placeholder="검색어를 입력하세요"> </br>
                    <input type="int" class="search-bar" name="sprice" placeholder="시작가격"> ~ <input type="int"
                        class="search-bar" name="eprice" placeholder="끝가격">
                    <input type="submit" value="확인" class="sort-button">
                </form>
            </div>
            <div class="wrap-user-util">
                <% if(is_logined==true){ %>
                    <a>
                        <%= name %> 관리자
                    </a>
                    <button id="logout">
                        <a href="/logout">logout</a>
                    </button>
                    <button id="bucket">
                        <a id="goto-bucket" href="/basket">장바구니</a>
                    </button>
                    <% } %>
            </div>
        </div>
    </header>



    <nav class="nav">
        <ul class="menu">
            <li><a href="/admin" class="active">Home</a></li>
            <li><a href="/banner_list_admin">Notice/Event 관리</a></li>
            <li><a href="/product_list_admin">Product 관리</a></li>
            <li><a href="/product_information_admin" class="current">Sales Information</a></li>
            <li><a href="/inquiry_admin">고객 문의 관리</a></li>
            <li><a href="/coupon_list_admin">Coupon 등록/관리</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>
    <section id="sales_statistics">
        <form method="POST" name="sales_list">

            <table id="search_sales_statistics">
                
                <thead>
                    <tr>
                        <form action="/product_information_admin" method="post">
			<th class="table_left">검색 기간</th>
                        <td colspan="5">
                            <input type="date" name="sdate" id="search_start">
                            ~
                            <input type="date" name="edate" id="search_end">
                        </td>
                        <td> 
				<input type = "submit" value="확인" class "searh-button">
                        </td>
			</form>
                    </tr>

                    <tr class="table_space">
                        <td></td>
                    </tr>

                    <!--판매 순위 판매 개수로 매기기로 결정!-->

                    <th class="table_left_up">총 판매금액</th>
                    <th colspan="3">판매 순위 Top3(Category)</th>
                    <th colspan="3" class="table_right_up">판매 순위 Top3(Product)</th>
                </thead>
                <tbody>
                    <tr>
                        <td rowspan="4">123,456,789원</td>
                    </tr>
                    <tr>
                        <td>상의</td>
                        <td>789개</td>
                        <td>87,654,321원</td>
                        <td>프릴 블라우스</td>
                        <td>300개</td>
                        <td>37,654,321원</td>
                    </tr>
                    <tr>
                        <td>악세서리</td>
                        <td>80개</td>
                        <td>7,654,321원</td>
                        <td>검정 무지 티셔츠</td>
                        <td>200개</td>
                        <td>1,000,000원</td>
                    </tr>
                    <tr>
                        <td>원피스</td>
                        <td>5개</td>
                        <td>54,321원</td>
                        <td>미키마우스 후드티</td>
                        <td>130개</td>
                        <td>15,000,000원</td>
                    </tr>
                </tbody>
            </table>

               <table id="check_order">
                <thead>
                    <tr>
                        <th class="table_left_up">판매일자</th>
                        <th>상품이름</th>
                        <th>현재상태</th>
                        <th>판매금액</th>
                        <th class="table_right_up">상태변경</th>
                    </tr>
                </thead>
                <tbody
			<% for (i = 0; i<length; i++){
			var data = order[i]; %>
                    <tr>
                        <td>
                          <!--주문날짜-->
                          <%= data.oDate %>
                        </td>
                        <td>
                          <!--주문한 상품 목록 및 수량-->
			  <a href = "/sales_detail_info_admin/<%= data.oIdx %>"><%= data.oName %></a>
                        </td>
            
                        <td>
                          <!--현재 주문 상태-->
                          
                          <% if(data.oStatus==0) { %>
                          결제완료
                          <% } else if(data.oStatus==1) { %>
                          배송중
                          <% } else if(data.oStatus==2) { %>
                          배송완료
                          <% } else { %>
                          구매확정
                          <% } %>
                        </td>
        
           		<td>
			<%= data.oTotal_price %>원
			</td>
                        <td>
                          <!-- 주문상태에 알맞은 버튼-->
                          <!-- 배송완료 -> 문의하기/후기쓰기 배송중 -> 문의하기 -->
                          <!-- 관리자 페이지 배송하기 -> 배송완료 -> 상품평 순으로 바뀜 -->
                          <!-- data.Status 0 : 결제완료, 1 : 배송중, 2: 배송완료, else : 구매확정 -->
                         
                          <form class="" action="/oStatus_update_admin" method="post">
            
                          <% if(data.oStatus==0) { %>
                          <input type="hidden" name="oIdx" value="<%= data.oIdx %>" />
                          <input type="hidden" name= "status" value="1"/>
                          <input type="submit" name="name" value="배송하기" />
                          <% } else if(data.oStatus==1) { %>
                          <input type="hidden" name="oIdx" value="<%= data.oIdx %>" />
                          <input type="hidden" name="status" value="2" />
                          <input type="submit" name="name" value="배송완료" />
                          <% } else if(data.oStatus==2) { %>
                          <input type="submit" name="name" value="상품평" />
                          <% } else { %>
                          <input type="submit" name="name" value="상품평" />
                          <% } %>
            
                          </form>
                        </td>
                      </tr>
		      
                      </tbody>
		      <% } %>
                  </table>
            
                <br />
            
    
                </tbody>

            </table>
        </form>
    </section>


    <footer id="footer">
        <p>
            <a href="/use">[이용약관]</a>
            <a href="/privacy">[개인정보처리방침]</a>
            <br>

            [01811] 서울 노원구 공릉로 232 서울과학기술대학교 컴퓨터공학과 미래관 315호 TEL : 02-970-6707 <br>
            Copyright 2021. 24팀 all rights reserved.<br>
        </p>
    </footer>
</body>

</html>
